.footer {
  background-color: #3a3434;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 40%;
  gap: 10%;
}
.signup{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.soMe{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.signupKnap{
  background-color: #3a3434;
  border-color: white;
  width: 300px;
  height: 33px;
  color: white;
  transition-duration: 0.5s;
}
.signupKnap:hover{
  background-color: #CF9D7C;
}

