nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.menu {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}